<configuration>
    <system.webServer>
        <handlers>
            <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Don't interfere with requests for node-inspector debugging -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>

                <!-- All other URLs are mapped to the Node.js application entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.marko;views\pages\*.marko;views\components\*.marko;iisnode.yml" />

        <security>
            <requestFiltering removeServerHeader ="true">
                <hiddenSegments>
                    <remove segment="bin"/>
                    <add segment="node_modules" />
                    <add segment="src" />
                    <add segment="webpack" />
                    <add segment="views" />
                    <add segment="config" />
                    <add segment="iisnode" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <location path="css">
        <system.webServer>
            <staticContent>
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            </staticContent >
        </system.webServer>
    </location>
    <location path="js">
        <system.webServer>
            <staticContent>
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="img">
        <system.webServer>
            <staticContent>
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
