$ {
  var moment = require('moment');
  var experience = moment().diff('2003-02-01', 'years');
}
<p class="lead">I'm a highly motivated, diligent Software Developer with over ${experience} years hands-on professional experience in the IT industry. During this time I have worked for a variety of clients and companies designing and developing solutions especially within .NET space. I have a broad expertise in both “front end” and “back end” development. Excited and enthusiastic about software development and the web, I do not shy away from a challenge and quickly adopt new technologies and trends. I have a passion for exceptional design and a proven ability to build effective, scalable, multi-tiered solutions. I love solving complex software challenges and have a talent for analyzing business requirements.</p>
<h5>What others say</h5>
<include('../components/carousel.marko')/>
<p>If you are looking for an experienced developer who can offer a fresh take on solving your software problems or just want to connect, we should <a href="#contact">talk</a>.</p>
<p class="text-center"><a class="btn btn-outline-primary" href="#contact" role="button">Get In Touch</a></p>
