<div class="tag-cloud">
  <span>.NET Core</span>
  <span>MVC &amp; Web Api</span>
  <span>Azure</span>
  <span>Amazon EC2</span>
  <span>T-SQL</span>
  <span>Javascript</span>
  <span>TypeScript</span>
  <span>jQuery</span>
  <span>Node.js</span>
  <span>Marko</span>
  <span>Vue.js</span>
  <span>MongoDB</span>
  <span>HTML5</span>
  <span>CSS3</span>
  <span>Git</span>
</div>
