._400 {
  font-style: italic;
  color: $primary;
}

.error404page {
  position: relative;
  width: 200px;
  height: 350px;
  margin: 0 auto;
}

.body404,
.head404,
.eyes404,
.leftarm404,
.rightarm404,
.chair404,
.leftshoe404,
.rightshoe404,
.legs404,
.laptop404 {
  width: 100;
  height: 100;
  background: url("../img/404-character-new.png") 0 0 no-repeat;
}

.newcharacter404,
.torso404,
.body404,
.head404,
.eyes404,
.leftarm404,
.rightarm404,
.chair404,
.leftshoe404,
.rightshoe404,
.legs404,
.laptop404 {
  position: absolute;
  display: block;
  background-size: 375px;
}

.newcharacter404 {
  width: 200px;
  height: 350px;
}

$swayspeed: 20s;

.torso404 {
  position: absolute;
  top: 69px;
  left: 0;
  display: block;
  width: 195px;
  height: 126px;
  transform-origin: 50% 100%;
  animation: sway $swayspeed ease infinite;
}

.body404 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 195px;
  height: 126px;
}

.head404 {
  position: absolute;
  top: -74px;
  left: 53px;
  width: 80px;
  height: 97px;
  background-position: 0 -132px;
  transform-origin: 50% 85%;
  animation: headTilt $swayspeed ease infinite;
}

.eyes404 {
  position: absolute;
  top: 46px;
  left: 17px;
  width: 36px;
  height: 9px;
  background-position: -81px -175px;
  animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
}

.leftarm404 {
  position: absolute;
  top: 79px;
  left: 0;
  width: 82px;
  height: 36px;
  background-position: -132px -170px;
  transform: rotateZ(0deg);
  transform-origin: 9% 35%;
  animation: typeLeft .4s linear infinite;
}

.rightarm404 {
  position: absolute;
  top: 74px;
  left: 115px;
  width: 78px;
  height: 45px;
  background-position: -221px -161px;
  transform-origin: 90% 25%;
  animation: typeLeft .4s linear infinite;
}

.chair404 {
  position: absolute;
  top: 215px;
  left: 27px;
  width: 130;
  height: 182px;
  background-position: -6px -348px;
}

.legs404 {
  position: absolute;
  top: 189px;
  left: 2px;
  width: 185px;
  height: 123px;
  background-position: -190px -221px;
}

.leftshoe404 {
  position: absolute;
  top: 295px;
  left: 27px;
  width: 65px;
  height: 46px;
  background-position: -157px -374px;
}

.rightshoe404 {
  position: absolute;
  top: 297px;
  left: 93px;
  width: 67px;
  height: 40px;
  background-position: -226px -374px;
  transform-origin: 35% 12%;
  animation: tapRight 1s linear infinite;
}

.laptop404 {
  position: absolute;
  top: 93px;
  left: 4px;
  width: 182px;
  height: 108px;
  background-position: -1px -233px;
  transform-origin: 50% 100%;
  animation: tapWobble .4s linear infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  45% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-4deg);
  }
  90% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes headTilt {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  38% {
    transform: rotateZ(2deg);
  }
  42% {
    transform: rotateZ(2deg);
  }
  45% {
    transform: rotateZ(-4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  82% {
    transform: rotateZ(0deg);
  }
  85% {
    transform: rotateZ(4deg);
  }
  90% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes typeLeft {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(7deg);
  }
  75% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes typeRight {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  75% {
    transform: rotateZ(7deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes tapWobble {
  0% {
    transform: rotateZ(-.2deg);
  }
  50% {
    transform: rotateZ(.2deg);
  }
  100% {
    transform: rotateZ(-.2deg);
  }
}

@keyframes tapRight {
  0% {
    transform: rotateZ(0deg);
  }
  90% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes blink404 {
  0% {
    background-position: -81px -175px;
  }
  94% {
    background-position: -81px -175px;
  }
  98% {
    background-position: -81px -184px;
  }
  100% {
    background-position: -81px -175px;
  }
}

@keyframes pan {
  0% {
    transform: translateX(-2px);
  }
  49% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  99% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
