@mixin hover-state {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

.footer-copyright {
  color: $white;
  background-color: $dark;

  a {
    font-size: 2rem;
    color: $white;
    text-decoration: none;

    @include hover-state {
      color: $white;
      text-decoration: none;
    }

    @include when-less-than(sm) {
      font-size: 1.25rem;
    }
  }
}
