.navbar {
  padding: 0;
  font-size: 1rem;

  .navbar-brand {
    padding: 0;

    .logo {
      height: $navbar-height;
    }
  }

  .navbar-toggler {
    &:focus {
      border-color: rgba($orange, .8);
      outline: 0 none;
      box-shadow: 0 1px 1px rgba($dark, .075) inset, 0 0 8px rgba($orange, .6);
    }
  }

  /* stylelint-disable selector-max-id */
  .navbar-toggler-icon {
    .no-js & {
      margin-bottom: 0;
    }
  }
  #navbar-toggle-cbox:checked ~ .collapse {
    display: block;
  }
  #navbar-toggle-cbox:checked ~ .navbar-toggler {
    border-color: rgba($orange, .8);
    outline: 0 none;
    box-shadow: 0 1px 1px rgba($dark, .075) inset, 0 0 8px rgba($orange, .6);
  }
  /* stylelint-enable */
}

.navbar-nav {
  @include when-wider-than(md) {
    position: relative;
  }

  .nav-item {
    @include when-wider-than(md) {
      position: relative;
      width: calc(#{$navbar-height} - 1rem);
      height: calc(#{$navbar-height} - 1rem);
      line-height: calc(#{$navbar-height} - 1rem);

      &.home {
        margin-right: .5rem;

        .back,
        .front {
          background-color: #eb4d4b;
        }
      }

      &.about {
        margin-right: .5rem;

        .front,
        .back {
          background-color: #686de0;
        }
      }

      &.skills {
        margin-right: .5rem;

        .front,
        .back {
          background-color: #6ab04c;
        }
      }

      &.experience {
        margin-right: .5rem;

        .front,
        .back {
          background-color: #e056fd;
        }
      }

      &.portfolio {
        margin-right: .5rem;

        .front,
        .back {
          background-color: #f0932b;
        }
      }

      &.contact {
        .front,
        .back {
          background-color: #7ed6df;
        }
      }
    }
  }

  .nav-link {
    color: $white;

    @include when-wider-than(md) {
      /* stylelint-disable declaration-no-important  */
      padding: 0 !important;
      /* stylelint-enable */

      .front {
        text-align: center;
        border-radius: .25rem;
        transition: all .5s ease-in-out;
        transform: rotateX(0deg) rotateY(0deg);
        backface-visibility: hidden;
        transform-style: preserve-3d;
      }

      .fas,
      .fab,
      .far,
      .fal {
        font-size: 2rem;
        vertical-align: middle;

        @include when-wider-than(xl) {
          font-size: 2.5rem;
        }
      }

      &:hover {
        .front {
          transform: rotateX(0deg) rotateY(180deg);
        }

        .back {
          z-index: 1;
          transform: rotateX(0deg) rotateY(0deg);
        }
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: inherit;
        text-align: center;
        border-radius: .25rem;
        transition: all .5s ease-in-out;
        transform: rotateX(0deg) rotateY(-180deg);
        backface-visibility: hidden;
        transform-style: preserve-3d;

        /* stylelint-disable font-family-no-missing-generic-family-keyword */
        span {
          font-family: "Roboto Condensed";
          font-weight: 400;
        }
        /* stylelint-enable */
      }
    }

    @include when-less-than(md) {
      .front {
        float: left;
      }
      .back {
        margin-left: 1.5em;
      }
    }
  }
}

@include when-wider-than(md) {
  .tooltip.home > .tooltip-inner { background-color: #eb4d4b; }
  .bs-tooltip-auto[x-placement^="top"].home .arrow::before,
  .bs-tooltip-top.home .arrow::before { border-bottom-color: #eb4d4b; }
  .bs-tooltip-auto[x-placement^="right"].home .arrow::before,
  .bs-tooltip-right.home .arrow::before { border-bottom-color: #eb4d4b; }
  .bs-tooltip-auto[x-placement^="bottom"].home .arrow::before,
  .bs-tooltip-bottom.home .arrow::before { border-bottom-color: #eb4d4b; }
  .bs-tooltip-auto[x-placement^="left"].home .arrow::before,
  .bs-tooltip-left.home .arrow::before { border-bottom-color: #eb4d4b; }

  .tooltip.about > .tooltip-inner { background-color: #686de0; }
  .bs-tooltip-auto[x-placement^="top"].about .arrow::before,
  .bs-tooltip-top.about .arrow::before { border-bottom-color: #686de0; }
  .bs-tooltip-auto[x-placement^="right"].about .arrow::before,
  .bs-tooltip-right.about .arrow::before { border-bottom-color: #686de0; }
  .bs-tooltip-auto[x-placement^="bottom"].about .arrow::before,
  .bs-tooltip-bottom.about .arrow::before { border-bottom-color: #686de0; }
  .bs-tooltip-auto[x-placement^="left"].about .arrow::before,
  .bs-tooltip-left.about .arrow::before { border-bottom-color: #686de0; }

  .tooltip.skills > .tooltip-inner { background-color: #6ab04c; }
  .bs-tooltip-auto[x-placement^="top"].skills .arrow::before,
  .bs-tooltip-top.skills .arrow::before { border-bottom-color: #6ab04c; }
  .bs-tooltip-auto[x-placement^="right"].skills .arrow::before,
  .bs-tooltip-right.skills .arrow::before { border-bottom-color: #6ab04c; }
  .bs-tooltip-auto[x-placement^="bottom"].skills .arrow::before,
  .bs-tooltip-bottom.skills .arrow::before { border-bottom-color: #6ab04c; }
  .bs-tooltip-auto[x-placement^="left"].skills .arrow::before,
  .bs-tooltip-left.skills .arrow::before { border-bottom-color: #6ab04c; }

  .tooltip.experience > .tooltip-inner { background-color: #e056fd; }
  .bs-tooltip-auto[x-placement^="top"].experience .arrow::before,
  .bs-tooltip-top.experience .arrow::before { border-bottom-color: #e056fd; }
  .bs-tooltip-auto[x-placement^="right"].experience .arrow::before,
  .bs-tooltip-right.experience .arrow::before { border-bottom-color: #e056fd; }
  .bs-tooltip-auto[x-placement^="bottom"].experience .arrow::before,
  .bs-tooltip-bottom.experience .arrow::before { border-bottom-color: #e056fd; }
  .bs-tooltip-auto[x-placement^="left"].experience .arrow::before,
  .bs-tooltip-left.experience .arrow::before { border-bottom-color: #e056fd; }

  .tooltip.portfolio > .tooltip-inner { background-color: #f0932b; }
  .bs-tooltip-auto[x-placement^="top"].portfolio .arrow::before,
  .bs-tooltip-top.portfolio .arrow::before { border-bottom-color: #f0932b; }
  .bs-tooltip-auto[x-placement^="right"].portfolio .arrow::before,
  .bs-tooltip-right.portfolio .arrow::before { border-bottom-color: #f0932b; }
  .bs-tooltip-auto[x-placement^="bottom"].portfolio .arrow::before,
  .bs-tooltip-bottom.portfolio .arrow::before { border-bottom-color: #f0932b; }
  .bs-tooltip-auto[x-placement^="left"].portfolio .arrow::before,
  .bs-tooltip-left.portfolio .arrow::before { border-bottom-color: #f0932b; }

  .tooltip.contact > .tooltip-inner { background-color: #7ed6df; }
  .bs-tooltip-auto[x-placement^="top"].contact .arrow::before,
  .bs-tooltip-top.contact .arrow::before { border-bottom-color: #7ed6df; }
  .bs-tooltip-auto[x-placement^="right"].contact .arrow::before,
  .bs-tooltip-right.contact .arrow::before { border-bottom-color: #7ed6df; }
  .bs-tooltip-auto[x-placement^="bottom"].contact .arrow::before,
  .bs-tooltip-bottom.contact .arrow::before { border-bottom-color: #7ed6df; }
  .bs-tooltip-auto[x-placement^="left"].contact .arrow::before,
  .bs-tooltip-left.contact .arrow::before { border-bottom-color: #7ed6df; }
}
