$timeline-header-color: #6ab04c;

.timeline-now,
.timeline-then {
  text-align: center;

  .btn {
    width: 100px;
  }

  @include when-less-than(md) {
    text-align: left;
  }
}

.timeline {
  position: relative;
  padding: 20px 0;
  margin-bottom: 0;
  font-weight: 300;
  list-style: none;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    content: " ";
    background: $secondary;

    @include when-less-than(md) {
      left: .5rem;
    }
  }

  > li {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 20px;
    clear: left;

    &:last-child {
      margin-bottom: 0;
    }

    &::before,
    &::after {
      display: table;
      content: " ";
    }
    &::after {
      clear: both;
    }

    > .timeline-panel {
      position: relative;
      float: left;
      width: calc(100% - 25px);
      width: -moz-calc(100% - 25px);
      width: -webkit-calc(100% - 25px);
      background: $white;
      border: 1px solid $border;
      border-radius: .25rem;

      &::before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        content: " ";
        border-top: 15px solid transparent;
        border-right: 0 solid $border;
        border-bottom: 15px solid transparent;
        border-left: 15px solid $border;

        @include when-less-than(md) {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
      }
      &::after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        content: " ";
        border-top: 14px solid transparent;
        border-right: 0 solid $white;
        border-bottom: 14px solid transparent;
        border-left: 14px solid $white;

        @include when-less-than(md) {
          right: auto;
          left: -2px;
          border-right-width: 2px;
          border-left-width: 0;
        }
      }

      .toggle-collapsible {
        display: none;
      }

      .toggle-collapsible-header {
        padding: 0 15px;
        margin: 10px 0;
        font-size: $h5-font-size;
        font-weight: 400;
        line-height: $h5-font-size;
        color: $timeline-header-color;
      }

      .icon-action {
        color: #e056fd;
      }

      @include when-less-than(md) {
        float: right;
        width: calc(100% - 2rem);
        width: -moz-calc(100% - 2rem);
        width: -webkit-calc(100% - 2rem);
      }
    }

    > .timeline-badge {
      position: absolute;
      top: 2rem;
      right: -.5rem;
      z-index: 100;
      width: 1rem;
      height: 1rem;
      color: $white;
      text-align: center;
      background-color: $success;
      border-radius: .25rem;

      > a {
        display: block;
        font-size: .5rem;
        line-height: 1rem;
        color: $white;

        /* stylelint-disable selector-max-id, selector-max-compound-selectors */
        &:hover ~ .timeline-badge {
          background-color: $primary;
        }
        /* stylelint-enable */
      }

      @include when-less-than(md) {
        top: 2rem;
        left: 0;
        margin-left: 0;
      }
    }

    @include when-less-than(md) {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 0;
      clear: left;
    }

    @include when-wider-than(md) {
      &:nth-child(2) {
        > div {
          margin-top: 60px;
        }
      }
    }
  }

  > .timeline-inverted {
    float: right;
    clear: right;

    > .timeline-panel {
      float: right;

      &::before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }

      &::after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }

    > .timeline-badge {
      left: -.5rem;

      @include when-less-than(md) {
        left: 2px;
      }
    }

    @include when-less-than(md) {
      float: left;
      margin-top: 20px;
      margin-bottom: 20px;
      clear: left;
    }
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-heading {
    min-height: 36px;

    h5 {
      padding: 0 15px;
      margin: 10px 0;
      font-weight: 400;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $timeline-header-color;
      }
    }

    [data-toggle="collapse"] .far::before {
      content: "\f151";
    }
    [data-toggle="collapse"].collapsed .far::before {
      content: "\f150";
    }
  }
  .timeline-body {
    > p {
      padding: 10px 15px;
      margin-bottom: 0;
    }
    > ul {
      padding-bottom: 10px;
      margin-bottom: 0;
      font-size: .75rem;
    }
    ul {
      ul {
        padding-left: 20px;
      }
    }
  }
  .timeline-footer {
    padding: 5px 15px;
    background-color: $light;

    p { margin-bottom: 0; }

    > a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.toggle-collapsible:checked ~ .timeline-heading > .toggle-collapsible-header > .far::before {
  content: "\f151";
}

.toggle-collapsible:checked ~ .timeline-body {
  display: block;
}

.toggle-collapsible:not(:checked) ~ .timeline-heading > .toggle-collapsible-header > .far::before {
  content: "\f150";
}

.no-js .toggle-collapsible:not(:checked) ~ .timeline-body {
  display: none;
}

.no-js .toggle-collapsible-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-arrow {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    line-height: 0;
    content: "";
  }

  &::before {
    z-index: 10;
  }
  &::after {
    z-index: 9;
  }

  &.btn-arrow-bottom {
    &::after {
      left: 50%;
      margin-left: -.5rem;
      border-right: .5rem solid transparent;
      border-left: .5rem solid transparent;
    }
  }

  &.btn-arrow-top {
    &::before {
      left: 50%;
      margin-left: -.5rem;
      border-right: .5rem solid transparent;
      border-left: .5rem solid transparent;
    }
  }
}

.btn-orange.btn-arrow {
  color: $white;

  @include when-less-than(md) {
    left: -1px;
    margin-left: .5rem;
    border-left: 2px solid $secondary;
    border-radius: 0 .25rem .25rem 0;
  }

  @include when-wider-than(md) {
    &.btn-arrow-top::before {
      top: -.5rem;
      border-bottom: .5rem solid $orange;
    }
    &.btn-arrow-top:hover::before {
      border-bottom: .5rem solid mix($orange, $black, 85%);
    }
    &.btn-arrow-bottom::after {
      bottom: -.5rem;
      border-top: .5rem solid $orange;
    }
    &.btn-arrow-bottom:hover::after {
      border-top: .5rem solid mix($orange, $black, 85%);
    }
  }
}

.timeline-navigation {
  position: absolute;
  left: -3rem;
  z-index: 101;
  padding: 0;
  list-style: none;

  @include when-less-than(sm) {
    margin-top: 3.5rem;
  }
}
.timeline-navigation .expand-timelines a,
.timeline-navigation .collapse-timelines a {
  display: block;
  width: 128px;
  height: 53px;
  margin: 0 0 .5rem -2.5rem;
}
.timeline-navigation .expand-timelines a {
  background-image: url("/img/expand.png");
}
.timeline-navigation .collapse-timelines a {
  background-image: url("/img/collapse.png");
}
.timeline-navigation .far {
  float: right;
  padding-left: 1rem;
  line-height: 1.25rem;
  vertical-align: middle;
}
