.pre-loader h2 {
  font-size: 3rem;
}
.pre-loader-text {
  max-width: 180px;
}
.txt-animation-lg {
  font-size: 6vw;

  @include when-less-than(sm) {
    font-size: 8vw;
  }
}
.txt-animation-sm {
  font-size: 3vw;

  .no-js &::after {
    content: "I write code.";
  }

  @include when-less-than(sm) {
    font-size: 4vw;
  }
}

.abbreviate {
  &.abbreviate-sm {
    @include when-less-than(sm) {
      &[data-abbreviated-text]::after {
        content: attr(data-abbreviated-text);
      }

      > span { display: none; }
    }
  }

  &.abbreviate-md {
    @include when-less-than(md) {
      &[data-abbreviated-text]::after {
        content: attr(data-abbreviated-text);
      }

      > span { display: none; }
    }
  }

  &.abbreviate-lg {
    @include when-less-than(lg) {
      &[data-abbreviated-text]::after {
        content: attr(data-abbreviated-text);
      }

      > span { display: none; }
    }
  }
}
