$primary: #006fff;
$success: #1bd139;
$secondary: #787878;
$info: #4d9aff;
$warning: #ffba29;
$danger: #f10;
$light: #f7f7f7;
$dark: #000;
$white: #fff;
$orange: #ff9000;
$border: #d1d1d1;
$font-size-base: .875rem;
$navbar-height: 80px;
$form-feedback-invalid-color: $orange;

$theme-colors: (
  "orange": $orange
);
